<html>
  <head>
    <style>
    body {
      background: <%= background %>;
      }
    </style>
    </head>
  <body>
  <h2>Guess The Secret Number</h2>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
    <p>
    <%= message %>
    <br/>
    <br/>
    <%= guess_message %>
     <!-- The SECRET NUMBER is <%= number %> !-->
    </p>
  </body>
</html>